.card-rounded-img {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
}

.card-icon {
  position: sticky;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  display: flex !important;
  justify-content: center;
  padding: 0 1rem;
}