<!-- <button mat-button mat-dialog-close class=""><mat-icon svgIcon="close"></mat-icon></button> -->
<div class="grid gap-6 grid-cols-3 bg-white p-10 font-serif">
  <!-- Name -->
  <div class="col-span-2">
    <h1 class="text-5xl font-extrabold">Amanda Lyman</h1>
    <p class="text-sm">
      Continuous Learner, Agile Adaptation, Forever Evolving
    </p>
  </div>
  <!-- Personal Info -->
  <div class="col-span-1 text-sm">
    <p>15832 111th Ter N<br />Jupiter, FL 33478</p>
    <p class="font-bold">
      (321) 704-3240<br />{{ "AmandaJeanLyman@gmail.com" }}
    </p>
  </div>
  <!-- Experience & Projects -->
  <div class="col-span-2">
    <h4 class="resumeHeader4">EXPERIENCE</h4>
    <div class="pb-5">
      <h2 class="italic">
        <span class="font-bold">Florida Power & Light</span> — Software
        Development Engineer II
      </h2>
      <p class="text-slate-600 text-wrap">
        <span class="font-sans text-xs">JANUARY 2021 - PRESENT</span><br />
        Full Stack Developer engaged in diverse rotational projects, addressing
        both high-priority business unit tasks and those of an exploratory
        nature, all aimed at creating proof of concepts for subsequent new
        product development. Customer feedback plays a pivotal role in shaping
        immediate enhancements and new features.
      </p>
    </div>
    <div class="pb-5">
      <h2 class="italic">
        <span class="font-bold">Florida Power & Light</span> — DevOps Engineer
      </h2>
      <p class="text-slate-600 text-wrap">
        <span class="font-sans text-xs">APRIL 2019 - JANUARY 2021</span><br />
        DevOps Engineer collaborating with Power Delivery IT and Customer
        Service IT teams on bi-weekly projects to automate their build and
        deployment processes, standardizing pipelines and innovating for
        efficiency. Introducing solutions to address emerging problems,
        promoting reusability and longevity in a consolidated infrastructure.
      </p>
    </div>
    <div class="pb-5">
      <h2 class="italic">
        <span class="font-bold">PAR Technology</span> — DevOps Engineer
      </h2>
      <p class="text-slate-600 text-wrap">
        <span class="font-sans text-xs">FEBRUARY 2017 - MARCH 2019</span><br />
        DevOps Engineer overseeing design, development, and automation of the
        CI/CD software for the SureCheck team, aiming to reduce time-to-market
        and enhance efficiency. Regularly addressing unforeseen problems in the
        progression of the next-generation product with swift evaluation and
        resolution implementation.
      </p>
    </div>
    <h4 class="resumeHeader4">PROJECTS</h4>
    <div class="pb-5">
      <h2 class="italic">
        <span class="font-bold">Copilot</span> — Assistant Chatbot
      </h2>
      <p class="text-slate-600 text-wrap">
        ChatGPT and LLM internal chatbot assisting field workers with quick
        troubleshooting and workflow management.
      </p>
    </div>
    <div class="pb-5">
      <h2 class="italic">
        <span class="font-bold">EVolution Dashboard</span> — Metrics Dashboard
        of EVs
      </h2>
      <p class="text-slate-600 text-wrap">
        Centralized visualizer for every statistic pertaining to electric
        vehicles.
      </p>
    </div>
    <div class="pb-5">
      <h2 class="italic">
        <span class="font-bold">Employee Engagement Event</span> — Scavenger
        Hunt
      </h2>
      <p class="text-slate-600 text-wrap">
        Semi-annual department off-site meeting activity to boost team building.
      </p>
    </div>
  </div>
  <!-- Education & Skills -->
  <div class="col-span-1">
    <h4 class="resumeHeader4">EDUCATION</h4>
    <div class="pb-5">
      <h2 class="font-semibold">Florida Atlantic University</h2>
      <p class="text-slate-600 text-wrap">
        Bachelor of Science <br />Computer Engineering<br />AUGUST 2013 - AUGUST
        2017
      </p>
    </div>
    <h4 class="resumeHeader4">KNOWLEDGE</h4>
    <p class="leading-10 pb-5">
      React Native<br />
      AngularJS<br />
      NodeJS<br />
      PostgreSQL<br />
      Various AWS Services<br />
      Agile Methodologies<br />
      6-Sigma Yellow Belt
    </p>
    <h4 class="resumeHeader4">LANGUAGES</h4>
    <p class="pb-5">JavaScript, Typescript, Python</p>
    <h4 class="resumeHeader4">INTERESTS</h4>
    <p class="pb-3">
      <span class="font-semibold">Gaming</span> bantering with friends is way
      more entertaining than the gameplay itself.
    </p>
    <p class="pb-3">
      <span class="font-semibold">Carpentry</span> ambitiously striving to do
      something new and learn different techniques with every project.
    </p>
    <p class="pb-3">
      <span class="font-semibold">Crafts</span>
      varying from sewing, drawing, crocheting, and so on.
    </p>
    <p>
      <span class="font-semibold">Volleyball/Tumbling</span>
      releasing endorphins with life’s most accessible medicine.
    </p>
  </div>
</div>
<div
  class="w-full h-4 sticky bottom-0 left-0 flex justify-center items-center ml-auto py-4 bg-gradient-to-t from-[#ddd] to-transparent"
>
  <button mat-dialog-close class="font-sans font-bold">CLOSE</button>
</div>
